[Desktop Entry]
Encoding=UTF-8
Name=Link to Related image
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiXvteBmNDaAhUIFHwKHQ5TA_UQjRx6BAgAEAU&url=https%3A%2F%2Fwww.infoq.com%2Fpresentations%2Fistio-service-mesh&psig=AOvVaw1eDnpAdqOfLYrr34Ln6-Yn&ust=1524565700625139
Icon=text-html
